@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cf-blue: #2f7bbf;
  --color-cf-orange: #f68b1f;
  --color-cf-red: #bd2426;
  --color-cf-green: #9bca3e;
  --color-cf-dark: #404040;
  
  --font-sans: system-ui, -apple-system, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional: Recreating the specific Cloudflare Arrow with CSS */
.cf-error-source::after {
  @media (min-width: 721px) {
    content: "";
    position: absolute;
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    bottom: -1.75rem;
    left: 50%;
    margin-left: -1.25rem;
    transform: rotate(45deg);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
  }
}